 body {
     background: #1e1e1e !important;
	font-family: 'Inter'!important;
	font-weight:400 !important;
	font-size: 14px;
	line-height: 20px;
 }
 .header-logo
 {
   margin-top: -1px;
   height:25px;
   width:auto;
 }
  .header { 
     font-style: normal !important;
     font-weight: 600 !important;
     font-size: 36px !important;
     line-height: 48px !important; 
     display: flex;
     align-items: center;
     letter-spacing: -0.2px !important;
}
.brief { 
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 28px; 
     text-align: center;
     letter-spacing: 0.5px;
}	
.login-option {

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;  
letter-spacing: 0.4px;  
color: #040304;
}	
  .custom-btn { 
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 20px;
}
.lang-label {
	width:20px;
    height:auto;	
	margin-top: -15px;  
	margin-right: -20px; 
}
 .custom-form   { 
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px; 
}
 .custom-form input, .custom-form select, .custom-form input:hover, .custom-form input:focus, .custom-form input:active  { 
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;  
     letter-spacing: 0.4px;  			
     background: #1e1e1e;
     color: #fff !important;
     border: 1px solid #7e8197 !important;
 }
 .custom-form select option {
     color: whitesmoke !important;
	padding-top:4px;
	padding-bottom:4px;
     background: #292E39 !important;
 }		
 .custom-form select option:hover {
    
     background: #1e1e1e !important;
 }	
.custom-form select:focus {
     background: #1e1e1e;
     color: #fff !important;
     border: 1px solid #7e8197 !important;
} 
 .custom-form label {
     color: #fff;
 }
 .bg-warm {
     background: #f7c447;
 }
 .bg-darks {
     #background: #292e39;
 }
 .form-control:-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: red;
 }
 .text-warm {
     color: #f7c447 !important;
 }
 .custom-form input:focus {
     border-color: #ff80ff;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
     background: #1e1e1e !important;
 }
.dropdown-item:hover
{
	 background: #f7c447 !important;
	 color:#1e1e1e !important;
}
.dropdown-item 
{
	 background: #1e1e1e !important;
	 color:#f7c447 !important;
	 font-size: 12px;
	 line-height: 20px;				 
	 border: 1px solid #f7c447 !important;
}